<!--<h4>Public::Posts#index</h4>-->

<div class="ml-5">
  <%= notice %>
</div>
<!--サインインの表示：確認済-->
<!--signed_up アカウント登録が完了しました：確認済-->

<div class="container-fluid">
<!--ここでのcontainerはコメント１個分をまとめている。
　　さらに大枠の箱を作れば、全体をまとめて中央揃えにできる。今はとりあえずoffsetで調整してある。-->
  <div class="mt-2">

    <div class="text-center">
      <div class="col-6 offset-3 border-bottom">
        <%= link_to '新着順', posts_path(category_id: @category) %>
        <%= link_to '古い順', posts_path(category_id: @category, sort: 'old') %>
        <%= link_to 'いいね順', posts_path(category_id: @category, sort: 'good') %>
      </div>
    </div>


    <% @posts.each do |post| %>
      <% if post.user.is_deleted == false %>
        <div class="row mt-2">
          <div class="col-5 offset-3 border-bottom">
          <!--offsetの意味は左側をあけるという意味（今回はcol-3個分）-->
            <div class="row">
              <div class="col-4">
                <span style="font-size:13px;"><%=time_ago_in_words(post.created_at)%>前</span>
                <%#= @post.created_at.strftime('%Y/%m/%d') %>
              </div>
              <div class="col-6">
                <%= post.user.name %><br>
              </div>
            </div>
            <div class="row mb-1">
              <%= post.post_text %><br>
            </div>
            <div class="row">
              <div class="col-4">
                <% unless current_user.nil? %>
                  <% if post.favorited_by?(current_user) %>
                      <%= link_to post_favorites_path(post), method: :delete do %>
                        <span style="font-size:13px;">♥<%= post.favorites.count %> いいね</span>
                      <% end %>
                    <% else %>
                      <%= link_to post_favorites_path(post), method: :post do %>
                        <span style="font-size:13px;">♡<%= post.favorites.count %> いいね</span>
                      <% end %>
                  <% end %>
                <% end %>

                <% if !current_user %>
                  ♥<%= post.favorites.count %> いいね
                <% end %>
              </div>
              <div class="col-6">
                <span style="font-size:13px;">コメント件数：<%= link_to post.comments.count, post_path(post.id) %></span>
              </div>
            </div>
          </div>


          <div class="col-1 border-bottom">
            <% if post.image.attached? %>
              <%= image_tag post.image, size: "80x100" %>
            <%# else %>
              <%#= image_tag 'no-image.jpg', size: "80x100" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


