<h4>public/users#favorites</h4>

<h4>myいいね一覧</h4>

<% @favorites.each do |favorite|%>
  <%= time_ago_in_words(favorite.post.created_at)%>前
  <%= favorite.post.user.name %>

  <%= favorite.post.post_text %>
  <% if favorite.post.image.attached? %>
    <%= image_tag favorite.post.image, size: "70x70" %><br>
  <% else %>
    <%= image_tag 'no-image.jpg', size: "70x70" %><br>
  <% end %>


<% if favorite.post.favorited_by?(current_user) %>
      <%= link_to post_favorites_path(favorite.post, ref: 'favorite'), method: :delete do %>
       ♥<%= favorite.post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorites_path(favorite.post), method: :post do %>
        ♡<%= favorite.post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>

  <p>コメント件数：<%= link_to favorite.post.comments.count, post_path(favorite.post.id) %></p>
<% end %>