<!DOCTYPE html>
<html>
  <head>
    <title>Sharehapi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--Bootstrap導入のために、link_tagをpack_tagに書き換え-->
    <!--stylesheet_link_tagの場合cssファイルは、app/assets 配下のファイルを参照。
        stylesheet_pack_tagの場合は、app/javascript 配下のファイルを参照-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--ドロップダウンメニュー作成のために記述-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
<!--ここから上はもとから記述があった部分-->


 <body>
    <header class="sticky-top" style="background-color: #ffb6c1;">
       <div class="container-fluid">
         <!--<div class="container-fluid">あとでこれに変えて調整するかも-->
          <!--<div class="heading">-->

          <!--<div class="container">-->
            <div class="row mr-2">
              <div class="col-auto mr-auto">
                <!--サイトのロゴ-->
                <% if admin_signed_in? %>
                  <%= link_to admin_path do %>
                    <%= image_tag('no-image.jpg', size: "200x50") %>
                  <% end %>
                <% elsif user_signed_in? %>
                  <%= link_to posts_path do %>
                    <%= image_tag('no-image.jpg', size: "200x50") %>
                  <% end %>
                <% else %>
                  <%= link_to root_path do %>
                    <%= image_tag('no-image.jpg', size: "200x50") %>
                  <% end %>
                <% end %>
              </div>


              <!--<div class="col-auto">-->
              <!--管理者がログインした時-->

              <% if admin_signed_in? %>
                <div class="mt-3">
                  <%= link_to destroy_admin_session_path, method: :delete do %>
                    ログアウト <i class="fas fa-sign-out-alt"></i>
                  <% end %>
                </div>
                <!--顧客がログインしている時-->
                <% elsif user_signed_in? %>
                <div class="mt-3">
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    ログアウト <i class="fas fa-sign-out-alt"></i>
                  <% end %>
                </div>
                
              <!--管理者と顧客がログインしていない時-->
              <% else %>
                <div class="col-xs-4 ml-2">
                  <div class="mr-3">
                    <%= link_to new_user_registration_path do %>
                      <i class="fas fa-pencil-alt"></i> 新規登録
                    <% end %>
                    <%= link_to new_user_session_path do %>
                      <i class="fas fa-sign-in-alt"></i> ユーザー:ログイン
                    <% end %>
                  </div>
                </div>
                <div class="col-xs-3 ml-2">
                  <%= link_to new_admin_session_path do %>
                    <i class="fas fa-lock"></i> 管理者:ログイン
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>


    <!--navbarの2段目、ドロップダウンメニュー-->

      <!--管理者がログインした時-->
      <% if admin_signed_in? %>
      <nav class="navbar sticky-top navbar-expand-lg navbar-light p-1" style="background-color: #ef857d;">
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--  <span class="navbar-toggler-icon"></span>-->
        <!--</button>-->


        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="nav-link">
                <%= link_to admin_users_path do %>
                  <i class="fas fa-users"></i> 会員一覧
                <% end %>
              </a>
            </li>

            <li class="nav-item ml-5">
              <a class="nav-link" >
                <%= link_to admin_categories_path do %>
                  <i class="fas fa-folder-open"></i> カテゴリー関連
                <% end %>
              </a>
            </li>
          </ul>

        </div>
      </nav>


      <!--顧客がログインしている時-->
      <% elsif user_signed_in? %>
      <nav class="navbar sticky-top navbar-expand-lg navbar-light p-1" style="background-color: #ef857d;">
      <!--sticky-topは上部固定、p-1は高さ調整-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!--<i class="fas fa-user-cog">マイページ</i>-->
                <i class="fas fa-user-cog"></i> マイページ

              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"><%= link_to "my投稿一覧", users_user_index_path %></a>
                <a class="dropdown-item"><%= link_to "myいいね一覧", users_user_favorites_path %></a>
                <a class="dropdown-item"><%= link_to "登録内容確認・編集", users_my_page_path %></a>
                <a class="dropdown-item"><%= link_to "退会手続", users_unsubscribe_path %></a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-sort-amount-down"></i> 並び替え
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"><%= link_to '新着順', posts_path %></a>
                <a class="dropdown-item"><%= link_to '古い順', posts_path(sort: 'old') %></a>
                <a class="dropdown-item"><%= link_to 'いいね順', posts_path(sort: 'good') %></a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-folder-open"></i> カテゴリー
                <!--<i class="fa-regular fa-folder-open"></i>カテゴリー-->
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!--ここのカテゴリーはeach文で回して表示させる-->
                <% @categories.each do |category| %>
                  <a class="dropdown-item"><%= link_to category.name, posts_path(category_id: category.id) %></a>
                    <!--idを指定して取り出したい時は↑こういう書き方になる-->
                    <!--(genre_id: genre.id)これ書かないとエラー出る。-->
                    <!--genre_idで検索をかけて、その中(左側のgenre_id)からgenre.idというのを探す。数に例えると分かりやすい-->
                    <!--NoMethodError in Public::Posts#newこのエラーはわかる。もしかして、navberにカテゴリー設定したから全ての画面で定義が必要なのかな…？混乱してきた-->
                <% end %>
              </div>
            </li>
          </ul>

        </div>
      </nav>


      <!--管理者と顧客がログインしていない時-->
      <% else %>
        <nav class="navbar sticky-top  navbar-expand-lg navbar-light p-1" style="background-color: #ef857d;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-sort-amount-down"></i> 並び替え
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"><%= link_to '新着順', root_path %></a>
                <a class="dropdown-item"><%= link_to '古い順', root_path(sort: 'old') %></a>
                <a class="dropdown-item"><%= link_to 'いいね順', root_path(sort: 'good') %></a>
              </div>
            </li>

            <div class="ml-5 mt-2">
              <p>投稿・コメント・いいね機能を使いたい人は是非登録してね♪</p>
            </div>
          </ul>

        </div>
      </nav>

      <% end %>
        </div>
      </header>
    <%= yield %>
  </body>
</html>



