<!DOCTYPE html>
<html>
  <head>
    <title>Sharehapi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--Bootstrap導入のために、link_tagをpack_tagに書き換え-->
    <!--stylesheet_link_tagの場合cssファイルは、app/assets 配下のファイルを参照。
        stylesheet_pack_tagの場合は、app/javascript 配下のファイルを参照-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--ドロップダウンメニュー作成のために記述-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
<!--ここから上はもとから記述があった部分-->


 <body>
    <header>
      <div class="heading">
        <!--サイトのロゴ-->
        <% if user_signed_in? %>
          <%= link_to posts_path do %>
            <%= image_tag('no-image.jpg', size: "200x50") %>
          <% end %>
        <% else %>
          <%= link_to root_path do %>
            <%= image_tag('no-image.jpg', size: "200x50") %>
          <% end %>
        <% end %>
        <!--あとでadminの分も設定する-->


        <!--管理者がログインした時-->
        <% if admin_signed_in? %>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        <!--顧客がログインしている時-->
        <% elsif user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <!--管理者と顧客がログインしていない時-->
        <% else %>
          <%= link_to "新規登録", new_user_registration_path %>
          <%= link_to "ユーザー：ログイン", new_user_session_path %>
          <%= link_to "管理者：ログイン", new_admin_session_path %>
        <% end %>

      </div>
    </header>
    

    <!--navbarの2段目、ドロップダウンメニュー-->

      <!--管理者がログインした時-->
      <% if admin_signed_in? %>
      <nav class="navbar navbar-icon-top navbar-expand-lg navbar-light" style="background-color: #ef857d;">
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--  <span class="navbar-toggler-icon"></span>-->
        <!--</button>-->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="nav-link">
                <%= link_to "会員一覧", admin_users_path %>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">
                <%= link_to "カテゴリー関連", admin_categories_path %>
              </a>
            </li>

          </ul>

        </div>
      </nav>


      <!--顧客がログインしている時-->
      <% elsif user_signed_in? %>
      <nav class="navbar navbar-icon-top navbar-expand-lg navbar-light" style="background-color: #ef857d;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <!--<li class="nav-item">-->
            <!--  <a class="nav-link">-->
            <!--    <%#= link_to "Top", posts_path, class: "link" %>-->
            <!--  </a>-->
            <!--</li>-->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                マイページ
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"><%= link_to "my投稿一覧", users_user_index_path %></a>
                <a class="dropdown-item"><%= link_to "myいいね一覧", users_user_favorites_path %></a>
                <a class="dropdown-item"><%= link_to "登録内容確認・編集", users_my_page_path %></a>
                <a class="dropdown-item"><%= link_to "退会手続", users_unsubscribe_path %></a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                並び替え
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"><%= link_to '新着順', posts_path %></a>
                <a class="dropdown-item"><%= link_to '古い順', posts_path(sort: 'old') %></a>
                <a class="dropdown-item"><%= link_to 'いいね順', posts_path(sort: 'good') %></a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                カテゴリー
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!--ここのカテゴリーはeach文で回して表示させる-->
                <% @categories.each do |category| %>
                  <a class="dropdown-item"><%= link_to category.name, posts_path(category_id: category.id) %></a>
                    <!--idを指定して取り出したい時は↑こういう書き方になる-->
                    <!--(genre_id: genre.id)これ書かないとエラー出る。-->
                    <!--genre_idで検索をかけて、その中(左側のgenre_id)からgenre.idというのを探す。数に例えると分かりやすい-->
                    <!--NoMethodError in Public::Posts#newこのエラーはわかる。もしかして、navberにカテゴリー設定したから全ての画面で定義が必要なのかな…？混乱してきた-->
                <% end %>
              </div>

            </li>
          </ul>

          <!--<form class="form-inline my-2 my-lg-0">-->
          <!--  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
          <!--  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
          <!--</form>-->

        </div>
      </nav>


      <!--管理者と顧客がログインしていない時-->
      <% else %>
        <nav class="navbar navbar-icon-top navbar-expand-lg navbar-light" style="background-color: #ef857d;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <!--<li class="nav-item">-->
            <!--  <a class="nav-link">-->
            <!--    <%#= link_to "Top", posts_path, class: "link" %>-->
            <!--  </a>-->
            <!--</li>-->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                並び替え
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"><%= link_to '新着順', posts_path %></a>
                <a class="dropdown-item"><%= link_to '古い順', posts_path(sort: 'old') %></a>
                <a class="dropdown-item"><%= link_to 'いいね順', posts_path(sort: 'good') %></a>
              </div>
            </li>

            <p>投稿・コメント・いいね機能を使いたい人は是非登録してね♪</p>

            </li>
          </ul>

        </div>
      </nav>
      <% end %>

    <!--nav-listの書き方参照する-->
    <!--  <ul class="nav-list">-->
    <!--    <li class="nav-list-item">-->
    <!--      <a href="index.html">Home</a>-->
    <!--    </li>-->
    <!--    <li class="nav-list-item">About</li>-->
    <!--    <li class="nav-list-item">Topic</li>-->
    <!--  </ul>-->
    <!--</nav>-->


    <%= yield %>
  </body>
</html>



