<!DOCTYPE html>
<html>
  <head>
    <title>Sharehapi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--Bootstrap導入のために、link_tagをpack_tagに書き換え-->
    <!--stylesheet_link_tagの場合cssファイルは、app/assets 配下のファイルを参照。
        stylesheet_pack_tagの場合は、app/javascript 配下のファイルを参照-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--ドロップダウンメニュー作成のために記述-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
<!--ここから上はもとから記述があった部分-->


 <body>
    <header>
      <div class="heading">
        <!--サイトのロゴ-->
        <% if user_signed_in? %>
          <%= link_to posts_path do %>
            <%= image_tag('no-image.jpg', size: "200x50") %>
          <% end %>
        <% else %>
          <%= link_to root_path do %>
            <%= image_tag('no-image.jpg', size: "200x50") %>
          <% end %>
        <% end %>
        <!--あとでadminの分も設定する-->


        <!--管理者がログインした時-->
        <% if admin_signed_in? %>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        <!--顧客がログインしている時-->
        <% elsif user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <!--管理者と顧客がログインしていない時-->
        <% else %>
          <%= link_to "新規登録", new_user_registration_path %>
          <%= link_to "ユーザー：ログイン", new_user_session_path %>
          <%= link_to "管理者：ログイン", new_admin_session_path %>
        <% end %>

      </div>
    </header>

    <!--navbarの2段目、ドロップダウンメニュー-->

      <!--管理者がログインした時-->
      <% if admin_signed_in? %>
      <nav class="navbar navbar-icon-top navbar-expand-lg navbar-light" style="background-color: #ef857d;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="nav-link" href="#">
                会員一覧
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">
                カテゴリー関連
              </a>
            </li>

          </ul>

        </div>
      </nav>


      <!--顧客がログインしている時-->
      <% elsif user_signed_in? %>
      <nav class="navbar navbar-icon-top navbar-expand-lg navbar-light" style="background-color: #ef857d;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <!--<li class="nav-item">-->
            <!--  <a class="nav-link">-->
            <!--    <%#= link_to "Top", posts_path, class: "link" %>-->
            <!--  </a>-->
            <!--</li>-->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                マイページ
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"><%= link_to "my投稿一覧", users_user_index_path %></a>
                <a class="dropdown-item"><%= link_to "myいいね一覧", users_user_favorites_path %></a>
                <a class="dropdown-item"><%= link_to "登録内容確認・編集", users_my_page_path %></a>
                <a class="dropdown-item"><%= link_to "退会手続", users_unsubscribe_path %></a>
              </div>
            </li>

            <%= form_with url: posts_path, method: :get do |f| %>

               <%= f.select :sort, [['新着順', 'new'], ['古い順', "old"], ['いいね順', "good"]], include_blank: "選択して下さい", selected: params[:sort] %>
               <%= f.select :category_id, Category.pluck('name, id'), include_blank: "選択して下さい", selected: params[:category_id] %>

               <%= f.submit '送信'%>
            <% end %>
          </ul>


          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>

        </div>
      </nav>


      <!--管理者と顧客がログインしていない時-->
      <% else %>
        人気順
        カテゴリー
        検索窓
      <% end %>

    <!--nav-listの書き方参照する-->
    <!--  <ul class="nav-list">-->
    <!--    <li class="nav-list-item">-->
    <!--      <a href="index.html">Home</a>-->
    <!--    </li>-->
    <!--    <li class="nav-list-item">About</li>-->
    <!--    <li class="nav-list-item">Topic</li>-->
    <!--  </ul>-->
    <!--</nav>-->


    <%= yield %>
  </body>
</html>



